body {
    background: white url("bg_gradient.jpg") repeat-x;
}
.logo_row {
    margin: 17px 0 0 10px;
}
.main_row {
    margin: 80px 0 0 0;
}
.thelink {
    height: 102px;
    width: 466px;
    display: inline-block;
    position: relative;
    top: -179px;
    left: 399px;
}