<div class="logo_row"><img src="/images/logo.png"/></div>
<div class="alert"> <h2>Hey, we're a start up. Click below and let us know what you think? Thanks folks.</h2></div>
<div>
<%= link_to image_tag('/images/outfitter.png', :class=>'second_bg'), 'http://www.surveymonkey.com/s.aspx?sm=aGddZxPg%2bvbjYf0f4K2O8g%3d%3d'%>
</div>
<div class="main_content center">
    
</div>

<%= link_to 'logout', destroy_user_session_path%>