<head>
    <title>Outfitter - We make it easy to look ridiculously good.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="index.css"/>
    <script type='text/javascript' src='prototype.js'></script>
    <script type='text/javascript'>
        function init_textbox() {
            var main_textbox = $("main_textbox");
            main_textbox.value = "";
            main_textbox.style.color = "rgb(80,80,80)";
        }

    </script>
</head>